<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <% include components/head.ejs %>
    <link rel="stylesheet" href="/admin/css/dashboard.css">
    <title>Josh's Profile Site Admin</title>
</head>
<body>
<% include components/sidebar.ejs %>
<div class="main">
    <h1>Welcome to Josh's Profile Admin Panel</h1>
</div>
</body>
</html>
