.header {
    text-align: center;
}

.tableWrapper {
    background: white;
    border: 1px solid #dddddd;
    max-width: 1000px;
    padding: 30px;
    box-sizing: border-box;
    color: #23282d;
    margin: 0 auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    font-size: 16px;
}

.table thead {
    border-bottom: 1px solid #dddddd;
}

.table td {
    padding: 10px 10px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.idHeader {
    width: 5%;
}

.titleHeader {
    width: 50%;
}

.dateHeader {
    width: 25%;
}

.table .item {
    border-bottom: 1px solid #dddddd;
    text-align: center;
}

.table .item:hover {
    background: #e5e5e5;
}

.table .itemTitle {
    color: #0b5e99;
    font-weight: bold;
}

.itemTitle:hover {
    color: #0e98f9;
}

@media only screen and (max-width: 1000px) {
    .tableWrapper {
        overflow: auto;
    }

    .table {
        width: 100%;
        min-width: 500px;
        font-size: 12px;
    }
}

.logoutButton {
    font-size: 18px;
    background: #0d78c3;
    border-radius: 0.25rem;
    padding: 5px 25px;
    color: #f8f8f8;
    border: none;
    display: block;
    margin: 0 0 30px auto;
    height: 22px;
    box-sizing: content-box;
    line-height: 22px;
    cursor: pointer;
}
