h1 {
    text-align: center;
}

.label {
    font-weight: bold;
}

.from .content {
    color: #0b5e99;
    font-weight: bold;
}

.from .content:hover {
    color: #0e98f9;
}

.section {
    border: 1px solid rgb(134, 134, 134);
    margin: 20px 0;
    padding: 25px;
}

.section h2 {
    text-align: center;
}
