<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta property="og:title" content="Josh Brown's Portfolio"/>
    <meta property="og:image" content="https://joshbrown.info/media/images/thiswebsite/code_small.png"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://joshbrown.info"/>
    <meta name="description"
          content="Josh Brown's portfolio and resume site containing many of the past project he has been involved in.  The website also contains information on Josh Brown and how you can contact him.">
    <title>Error 404 - Josh Brown</title>
    <link href="/css/error.css" rel="stylesheet">
    <link href="/css/standards.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="center">
    <img alt="logo" class="nav_logo" src="/media/images/thiswebsite/JB%20Logo.svg">
    <h1 class="error_number">404</h1>
    <h2 class="c-error__description">Ooops doopsy! There's no page here.</h2>
    <a href="https://joshbrown.info">
        <button class="standard_button">Go Home</button>
    </a>
</div>
</body>
</html>
