<form id="contact_form">
    <h1>Contact Me</h1>
    <h3 class="form_input_error"></h3>
    <input type="text" id="name" name="name" placeholder="Name">
    <input type="email" id="email" name="email" placeholder="Email Address">
    <select id="reason" name="reason">
        <option disabled selected value="">Reason for Inquiry</option>
        <option value="employment">Employment</option>
        <option value="questions">Questions</option>
        <option value="suggestions">Suggestions</option>
        <option value="other">Other</option>
    </select>
    <textarea placeholder="Message" name="message"></textarea>
    <button id="validate_form_button" type="button" class="product_button form_submit_button">Send</button>
    <input name="csrftoken" type="hidden" value="<?= $csrfToken ?? ''; ?>">
</form>
<div id="contact_form_thanks">
    <p>Success! Thanks for contacting me.</p>
</div>
