<!-- BB Scheduler  -->
<div class="parallax bbscheduler fadeIn_1"></div>
<div class="project_wrapper fadeIn_2">
    <div class="right">
        <img class="project_preview" alt="Library site" src="/media/images/bbscheduler/schedule.jpg">
    </div>
    <div class="left">
        <p class="project_title">Created a Schedule Generator For my School</a></p>
        <p class="project_date">August 2019</p>
        <p class="project_description">For the new school year, my school switched over to a rotating block schedule
            based on an 8 day week. Each day in the school year was designated a letter A through H each referring to a
            different period order. A student would receive a list of classes along with their associated period and
            letter days it applied to. A student would then have to match their schedule up with the letter day
            schedule. As you can see, this is very complicated and it can be difficult to remember everything and know
            where were one has to be. As such, I created a tool that imports a student's schedule from the school's
            scheduling website, eSchool data, and generates a printable letter day schedule and an iCal file containing
            events for each class for each day with the class name, classroom, and time. The website also autosaves
            users' classes for easy editing in case they make a mistake.</p>
        <div class="project_product_wrapper">
            <a target="_blank"
               href="https://bbscheduler.com">
                <button class="product_button">View Website</button>
            </a>
        </div>
    </div>
</div>
<!-- Thanksgiving Challenge - Library
<div class="parallax thanksgiving_library fadeIn_2"></div>
<div class="project_wrapper fadeIn_2">
    <div class="right">
        <img class="project_preview" alt="Library site" src="/media/images/pcrblibrary/thanksgiving.jpg">
    </div>
    <div class="left">
        <p class="project_title">Created Thanksgiving Challenge Donation Site for the PCRB Library</a></p>
        <p class="project_date">August - September of 2019</p>
        <p class="project_description">Continuing my work with the library, I was hired to create a donation page for an event they were holding.  The library was trying to raise money for the various tech items and museum passes. I built a website that showed a live counter of the amount of on each item. Once somebody donated, they were instantly able to see the amount left to donate of an item go down.  I used the PayPal API to accept payments and confirm payment. We also set up an automated email receipt system that sent different messages based on the type of item donors donated towards and the amount donors gave. </p>
        <div class="project_product_wrapper">
            <a target="_blank"
               href="https://www.portchester-ryebrooklibrary.org/friends/thanksgiving/index.php">
                <button class="product_button">View Page</button>
            </a>
        </div>
    </div>
</div>-->
<!-- Purdue CNIT 18000 -->
<div class="parallax purdue_180 fadeIn_2"></div>
<div class="project_wrapper fadeIn_2">
    <div class="right">
        <img class="project_preview" alt="Purdue Sign" src="/media/images/purdue/purdue_sign.jpg">
    </div>
    <div class="left">
        <p class="project_title">Completed Introduction To Systems Development (CNIT 18000) at Purdue University</a></p>
        <p class="project_date">Summer of 2019 (July - August)</p>
        <p class="project_description">Over the summer I decided to attend a class at Purdue University. I took
            Introduction To Systems Development (CNIT 18000) because it was the first course in Purdue's cyber security
            track and one of the few offered in the summer. The class was taught by Professor Victor Barlow. </p>
        <br>
        <p class="project_description">In class, we learned many things. We began with learning about the SDLC,
            feasibility studies, scope, and creating DFDs. We then went on to requirements modeling, using UCD to model
            interactions between users and an information system. Next, we learned about validity checks and data and
            process modeling. We created DFDs to visualize how data was related. We continued on to object oriented
            modeling. My experiences with objects in object oriented programming languages made this portion
            significantly easier to understand. Next, we learned about user interface design, creating forms, and
            creating reports. We also learned about database design and querying. We learned about primary keys,
            composite keys, secondary keys, foreign keys, referential integrity, schema, types, cardinality and more. We
            modeled our databases using ERD and used SQL and QBE (MS Access) to query to database. We went on to learn
            about basic networking, OSI model, bandwidth, network types (bus/ring/star/hierarchical/etc.), WANs, and
            LANs.</p>
        <br>
        <p class="project_description">Overall, I really enjoyed the class and learned a lot from it. My previous
            experience with object oriented programming, networking, database design and implementation helped me
            greatly.</p>
        <div class="project_product_wrapper">
            <a target="_blank"
               href="https://polytechnic.purdue.edu/courses/course?courseid=102998">
                <button class="product_button">View Class Page</button>
            </a>
            <a target="_blank"
               href="https://polytechnic.purdue.edu/profile/vmbarlow">
                <button class="product_button">Professor Victor Barlow</button>
            </a>
            <a target="_blank"
               href="./media/files/purdue/CNIT%2018000%20Syllabus%20-%20Summer2019.doc.zip">
                <button class="product_button">Download Class Syllabus</button>
            </a>
        </div>
    </div>
</div>
<!-- StackExchange Chat API Documentation -->
<div class="parallax sobotdocs fadeIn_2"></div>
<div class="project_wrapper">
    <div class="right">
        <img class="project_preview" alt="sobotdocs screenshot" src="media/images/sobot/sobotdocs.png">
    </div>
    <div class="left">
        <p class="project_title">Created StackOverflow / StackExchange Chat API Documentation</a></p>
        <p class="project_date">May of 2019 - Current</p>
        <p class="project_description">Since I wasn't unable to find any documentation of the StackOverflow chat API, I
            decided to create my own. The documentation is currently in progress. All of it is from various contributors
            manually testing and writing results for the documentation. Most of the documentation was written and tested
            by me, <a href="https://stackoverflow.com/users/6296561/zoe">@Zoe</a> also contributed significantly.</p>
        <div class="project_product_wrapper">
            <a target="_blank"
               href="https://github.com/jbis9051/SO-ChatBot/blob/master/docs/CHAT_API.md">
                <button class="product_button">StackExchange Chat API Documentation</button>
            </a>
        </div>
    </div>
</div>
<!-- StackExchange Bot -->
<div class="parallax sobot"></div>
<div class="project_wrapper">
    <div class="right">
        <img class="project_preview" alt="sobot screenshot" src="media/images/sobot/sobot.png">
    </div>
    <div class="left">
        <p class="project_title">Created StackOverflow / StackExchange Chat Bot</a></p>
        <p class="project_date">May of 2019 - Current</p>
        <p class="project_description">I had been wanting to create a StackExchange chat bot for a while. I was
            originally most active on <a href="https://apple.stackexchange.com/">Ask Different</a>, however, unlike many
            other sites, Ask Different did not have any bot inside their chat room. I spent a while researching creating
            a chat bot for StackExchange, but found very little information. I made a boilerplate
            to allow other people to create their own bots. I also added a plugin
            API so that people can add their own commands to the SO bot. Currently, the SO bot is in a couple different
            rooms across the network. The bot was written in Node.js.</p>
        <div class="project_product_wrapper">
            <a target="_blank"
               href="https://github.com/jbis9051/SO-ChatBot">
                <button class="product_button">GitHub Repo</button>
            </a>
            <a target="_blank"
               href="https://chat.stackoverflow.com/rooms/193540/test-my-bot">
                <button class="product_button">Play With/Test The Bot (Note: You need at least 20 reputation points on
                    StackOverflow to chat)
                </button>
            </a>
        </div>
    </div>
</div>
<!-- James - The discord bot
<div class="parallax james fadeIn_2"></div>
<div class="project_wrapper">
    <div class="right">
        <img class="project_preview" alt="james screeenshot" src="media/images/james/discord2.png">
    </div>
    <div class="left">
        <p class="project_title">Created A Discord Bot</a></p>
        <p class="project_date">April of 2019 - May of 2019</p>
        <p class="project_description">I decided to create a bot for the discord server I am on. The bot can be called
            by typing in the following format <code>!! command arg1 args2</code>. Some of the commands include searching
            Wikipedia, searching MDN, saying jokes, and saying fun facts. It is currently hosted on my home server and
            uses the Node module <a href="https://discord.js.org/#/">discord.js</a> to interact with the Discord API.
            Please note, the bot code contains expletives.</p>
        <div class="project_product_wrapper">
            <a target="_blank"
               href="https://github.com/jbis9051/JSProgrammingDiscordBot">
                <button class="product_button">GitHub Repo</button>
            </a>
        </div>
    </div>
</div>-->
<!-- Quick Downloader -->
<div class="parallax quickd"></div>
<div class="project_wrapper">
    <div class="right">
        <img class="project_preview" alt="quickd screeenshot" src="media/images/quickd/favicon.ico">
    </div>
    <div class="left">
        <p class="project_title">Created Quick Downloader</a></p>
        <p class="project_date">January of 2019 - Current</p>
        <p class="project_description">With the help of Jake Schneider, we created Quick Downloader, an application that
            uses byte requests to download files from the internet an incredible speeds. Based on our tests its can
            reduce download time up to 80-90%. If you don't believe me, check it out for yourself below! :)</p>
        <br>
        <p class="project_description">I came up with the idea and presented it to Jake, who agreed to help me create
            it. We split up the work so I would do the actual downloader part while he would stick with the UI part. We
            decided to use the Electron framework as we were both familiar with Web programming and it was cross
            platform. Jake decided to use React for the UI. In the end, we assisted each other on different parts of the
            project. I assisted him with some of the CSS and he helped improve and fix the downloader. This was my first
            project using Node.js, Electron, and React. It was also my first desktop App.</p>
        <br>
        <p class="project_description">Due to our lack of React experience and suggestions from other developers, I
            decided to ditch it for v2.0. I removed React, recreated the entire UI from scratch (using the v1 as a
            reference), and rewrote the downloader script. v2.0 was released on August 8th 2019. Resuming downloads is
            scheduled for v2.1.0</p>
        <div class="project_product_wrapper">
            <a target="_blank"
               href="https://github.com/jbis9051/quick_download">
                <button class="product_button">GitHub Repo</button>
            </a>
            <a target="_blank"
               href="https://jbis9051.github.io/quick_download/">
                <button class="product_button">Website/More Info</button>
            </a>
            <a target="_blank"
               href="https://jschneiderprojects.com.au/contact.html">
                <button class="product_button">Jake Schneider</button>
            </a>
        </div>
    </div>
</div>
<!-- Custom HTML5 Player -->
<div class="parallax html5player"></div>
<div class="project_wrapper">
    <div class="right">
        <img class="project_preview" alt="Player" src="media/images/player/player.jpg">
    </div>
    <div class="left">
        <p class="project_title">Created Custom HTML5 Video Player</a></p>
        <p class="project_date">January of 2019</p>
        <p class="project_description">Based on Netflix's own player, I decided to build my own. While it is still a
            work in progress, most things work properly. I used Font Awesome for the icons and jQuery.</p>
        <div class="project_product_wrapper">
            <a target="_blank"
               href="/demos/video_player/moviepage.php">
                <button class="product_button">Demo</button>
            </a>
        </div>
    </div>
</div>
<!-- This website -->
<div class="parallax thiswebsite"></div>
<div class="project_wrapper">
    <div class="right">
        <img class="project_preview" alt="this websites code" src="media/images/thiswebsite/code.jpg">
    </div>
    <div class="left">
        <p class="project_title">Created This Website</a></p>
        <p class="project_date">November of 2018</p>
        <p class="project_description">I really wanted to document the projects I have worked on and
            teams I
            have been fortunate to be a part of. I also thought creating this website would provide an
            opportunity to practice web design. One of my hobbies is photography, so I made it my goal
            to
            have all the photos be originals instead of using stock images. All the images for the
            projects
            on this page are clickable and will bring up a bigger version. The one on the left is actual
            code from this site controlling the contact form, however the current code may have been
            changed. The up to date code can be seen, on GitHub, by clicking the &quot;Source&quot;
            button
            below.</p>
        <div class="project_product_wrapper">
            <a target="_blank"
               href="https://github.com/jbis9051/personal-website-source/tree/master/Josh%20Brown%20Info">
                <button class="product_button">Source</button>
            </a>
        </div>
    </div>
</div>
<!-- 2FA For Library
<div class="parallax twofactor"></div>
<div class="project_wrapper">
    <div class="right">
        <img class="project_preview" alt="2fa preview" src="media/images/pcrblibrary/2fa.png">
    </div>
    <div class="left">
        <p class="project_title">Created 2FA for <a target="_blank"
                                                    href="https://www.portchester-ryebrooklibrary.org">Port
                Chester - Rye Brook Public Library</a></p>
        <p class="project_date">October of 2018</p>
        <p class="project_description">Another developer had created a UI to allow the library to edit
            the
            website without having to know HTML/CSS/JS. To increase security, I created and implemented
            a 2
            Factor Authentication system.</p>
        <div class="project_product_wrapper">
            <a href="demos/2fa/" target="_blank">
                <button class="product_button">Demo</button>
            </a>
        </div>
    </div>
</div>-->
<!-- Manage PCRBL -->
<div class="parallax manage_pcrbl"></div>
<div class="project_wrapper">
    <div class="right">
        <img class="project_preview" alt="Google Cloud screenshot"
             src="media/images/pcrblibrary/pcrb_google_cloud.png">
    </div>
    <div class="left">
        <p class="project_title">Creation and Management of the <a target="_blank"
                                                                   href="https://www.portchester-ryebrooklibrary.org">Port
                Chester - Rye Brook Public Library</a> Server</p>
        <p class="project_date">September 2018 - Current</p>
        <p class="project_description">After discovering a significant vulnerability with our web
            hosting
            service,
            allowing all sites to access all other sites' website files (including the donation user
            data)
            and another giving all sites root access to the server, I recommended changing web
            providers.
            After the library agreed, I set up a Google Cloud Ubuntu instance and worked with the other
            developer, JP, to transfer all of the
            library's files. I also installed PHP, MySQL, phpMyAdmin, set up an automatic backup script,
            and
            set up an automatic certificate renewal script. I continue to manage the Google Cloud
            instance. The demo below is the website that is being hosted on the Google Cloud
            instance.</p>

        <p class="extra_content_title">Testimonials</p>
        <div class="testimonial_wrapper">
            <p class="person">JP</p>
            <p class="quote">&quot;Working with Josh was a good move both business and personal wise. We
                worked together on several projects and I gained new insights in coding and am
                learning
                how to code much more securely. I gained a mentor as well as a friend. I&rsquo;m glad he
                and I
                decided to work together.&quot;</p>
        </div>
        <a href="https://www.portchester-ryebrooklibrary.org" target="_blank">
            <button class="product_button">Demo</button>
        </a>

    </div>
</div>
<!-- McAndrews -->
<div class="parallax macandrews"></div>
<div class="project_wrapper">
    <div class="right">
        <img class="project_preview" alt="McAndrews logo"
             src="media/images/macandrews/macandrews_logo.png">
    </div>
    <div class="left">
        <p class="project_title">Paid Internship <a target="_blank"
                                                    href="http://www.macandrewsandforbes.com">MacAndrews
                &amp;
                Forbes Incorporated</a></p>
        <p class="project_date">Summer of 2018</p>
        <p class="project_description">My eight weeks working in the cyber security division of
            MacAndrews &amp; Forbes provided a great opportunity for me
            to both learn and gain experience in a work
            environment. During my time there, I worked with <a
                    target="_blank" href="https://www.sophos.com/en-us/products/sophos-central.aspx">Sophos
                Central</a>, <a
                    target="_blank" href="https://www.paloaltonetworks.com">Palo Alto Networks
                Console</a>,
            <a
                    target="_blank" href="https://aws.amazon.com"> Amazon AWS</a> (Ubuntu and Windows
            instance creation,
            management, etc.), and many other tools. </p>
        <p class="extra_content_title">Testimonials</p>
        <div class="testimonial_wrapper">
            <p class="person">MB, Cyber Security Technician</p>
            <p class="quote">&quot;I had the pleasure of working with Josh this past summer. He was
                super
                helpful, engaging, and eager to learn more about Cyber Security in the workplace.
                That
                type of demeanor displayed day in and out, let me know Josh is destined for great
                things! Not only did he learn something new, but I too obtained a great skill from
                him.
                Josh was pivotal in providing a solution to track important data in our project,
                which
                added value to the overall success. Thank You Josh, continue to be
                curious!&quot;</p>
        </div>
    </div>
</div>
<!-- Donation PCRBL -->
<div class="parallax donation_pcrbl"></div>
<div class="project_wrapper">
    <div class="right">
        <img class="project_preview" alt="donation screenshot"
             src="media/images/pcrblibrary/pcrb_library_donation_site.png">
    </div>
    <div class="left">
        <p class="project_title">Donation page for <a target="_blank"
                                                      href="https://www.portchester-ryebrooklibrary.org">Port
                Chester - Rye Brook Public Library</a></p>
        <p class="project_date">February - March of 2018</p>
        <p class="project_description">My town's local library hired me to create and to set up an
            online
            donation page. In the past, while the library had a website, it did not allow donors to donate,
            instead the Library collected cash donations. The staff believed donations would increase if
            they had a more modern donation system.
            Using the <a target="_blank" href="https://developer.paypal.com/docs/api/overview/">PayPal
                API</a>, I created a
            donation page. Unfortunately, the library's website was not encrypted with HTTPS. I informed
            the
            staff of the
            security risks associated with handling sensitive user data without proper SSL encryption. I
            also informed
            them of <a target="_blank" href="https://letsencrypt.org/">Let's Encrypt's</a> free
            certificates. I worked with
            the other developer and web provider to install the certificate. The library was so pleased
            that
            they offered me a retainer to manage the donation page and
            to provide monthly site maintenance.</p>


        <p class="extra_content_title">Testimonials</p>
        <div class="testimonial_wrapper">
            <p class="person">Dr. Elise Lemire, President of the Friends of the Port Chester - Rye
                Brook Public Library</p>
            <p class="quote">&quot;We were fortunate to find in Josh Brown a web designer and security
                expert on par with the best in the industry. We very much appreciated, in addition
                to his considerable expertise, his timeliness, attention to detail, and his ability
                to explain highly technical concepts in laymen's terms.&quot;</p>

            <div class="project_product_wrapper">
                <a href="https://www.portchester-ryebrooklibrary.org/friends/donate" target="_blank">
                    <button class="product_button">Demo</button>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Senior Center -->
<div class="parallax senior"></div>
<div class="project_wrapper" id="testscroll">
    <div class="right">
        <img class="project_preview" alt="sign picture" src="media/images/seniorcenter/sign.jpg">
    </div>
    <div class="left">
        <p class="project_title">Volunteer <a target="_blank"
                                              href="http://www.ryebrook.org/Cit-e-Access/webpage.cfm?TID=31&TPID=3859">Rye
                Brook Senior Center</a></p>
        <p class="project_date">October of 2017 - Current</p>
        <p class="project_description">Every Tuesday and Thursday I volunteer at the local Senior
            Center. I
            assist seniors with many different tech problems ranging from powering on a device to
            teaching
            them how to use Facebook, to malware/virus removal. This opportunity has given me experience
            with teaching
            others and communicating complex information.</p>
        <!--button class="product_button_more">
            More
        </button>
        <div class="expand_content">
            <p class="extra_content_title">Testimonials</p>
            <div class="testimonial_wrapper">
                <p class="person">John Doe</p>
                <p class="quote">"Lorem ipsum dolor sit amet"</p>
                <p class="person">Jane Doe</p>
                <p class="quote">"Duis at scelerisque lacus. Nunc dictum semper leo ut finibus. "</p>
            </div>
        </div-->
    </div>
</div>
<!-- Media website -->
<div class="parallax media_site"></div>
<div class="project_wrapper">
    <div class="right">
        <img class="project_preview" alt="media website screenshot"
             src="media/images/mediawebsite/mediawebsite.png">
    </div>
    <div class="left">
        <p class="project_title">Created Home Media Website</p>
        <p class="project_date">August of 2018</p>
        <p class="project_description">Inspired by Netflix, I decided to create a TV Show/Movie website. This was my
            first time creating a login system and using SQL. Each user can choose a unique username
            and
            password (stored hashed) that grants them access to the site. Like Netflix, resume
            data
            was stored in a
            database, allowing users to resume play from any device logged into their account. I
            used <a target="_blank" href="http://www.omdbapi.com">The Open Movie Database</a> to provide
            information on
            about each
            TV Show/Movie.
            Finally, I added a profile page, where users could change their username and/or password,
            and
            view all their data.</p>
    </div>
</div>
<!-- HQ Bot -->
<div class="parallax hq_bot"></div>
<div class="project_wrapper">
    <div class="right">
        <img alt="hq website screenshot" class="project_preview" src="media/images/hqbot/hqwebsite.png">
    </div>
    <div class="left">
        <p class="project_title">Created an A.I. bot for the popular HQ Trivia game</p>
        <p class="project_date">December of 2017 - March of 2018</p>
        <p class="project_description">When the popular <a
                    target="_blank"
                    href="https://itunes.apple.com/us/app/hq-live-trivia-game-show/id1232278996/">HQ
                Trivia</a> game was released, it got me thinking of how I could beat it with a computer.
            I
            spent
            a couple of days theorizing how I would accomplish a task such as building a bot to answer
            questions. My first attempt took 14 seconds per question to convert the images into text,
            much
            longer than the 10 second limit. I then changed the method of text conversion to
            use <a target="_blank" href="https://github.com/tesseract-ocr/">tesseract-ocr</a>. Once I
            was
            able to get the
            conversion time down to a couple of seconds, I started building the actual program. I
            created
            the base program
            in a couple of hours. I played the game with friends that night and we came close to
            winning. I
            spent the next couple of days refining the
            algorithm. The bot was now able to detect the type of question and adapt, it also was able
            to
            give different confidence ratings to each answer. The bot was now able to answer a question
            within four to five seconds. Word got around pretty fast and I developed a website where visitors to could
            view the bot's
            responses live. Visitors could also sign up for text alerts about upcoming games. Finally,
            on
            super bowl
            night, my friends and I won a total of $200 using the bot. </p>

        <p class="extra_content_title">Testimonials</p>
        <div class="testimonial_wrapper">
            <p class="person">Jake M.</p>
            <p class="quote">&quot;The HQ bot was able to solve answers to the game very efficiently. It
                helped friends of mine win money in HQ when they normally wouldn&rsquo;t have been able to
                without the bot&quot;</p>
            <p class="person">Lauren W.</p>
            <p class="quote">&quot;The bot ran really well and the website was very easy to use.&quot;</p>
        </div>
        <div class="project_product_wrapper">
            <a href="demos/hqbot/" target="_blank">
                <button class="product_button">Demo</button>
            </a>

        </div>
    </div>
</div>
<!-- Server -->
<div class="parallax home_server"></div>
<div class="project_wrapper">
    <div class="right">
        <img class="project_preview" alt="keyboard server" src="media/images/homeserver/keyboard.JPG">
    </div>
    <div class="left">
        <p class="project_title">Created and managed my first home server</p>
        <p class="project_date">August of 2017 - Current</p>
        <p class="project_description">My sister, Rachel, was starting her freshman year at college and
            was
            purchasing a new computer. The new computer had a smaller drive than her previous
            one. This meant she was unable to transfer all of her data. I proposed the idea fo building
            a
            file server, or a
            cloud, as I described it. This would allow Rachel to access her data from anywhere in the
            world,
            from any computer, at any time. After transferring her data to an external drive, I wiped
            her
            old
            MacBook Pro 2011 and used it to create the file server, protected by a password only my
            sister
            knew. This worked extremely well. I then expanded the file server to allow for each of my
            family
            members to have their own private folder on the server. I also created a shared folder, for
            all
            of the media we wanted to share. This helped with sharing large amounts of photos and
            videos.
            Months later, I furhter expanded the server and started with a web server. This began my
            journey
            on web
            design. Currently, the server hosts this site and one more.</p>


        <p class="extra_content_title">Testimonials</p>
        <div class="testimonial_wrapper">
            <p class="person">Rachel B.</p>
            <p class="quote">"I am not a person who likes to separate from old things, so having the
                server at my fingertips, makes me feel better because I can still view old
                files."</p>
            <p class="person">Michael B.</p>
            <p class="quote">"Having our own personal server is a wonderful way to be able to share
                information and pictures with family and relatives anywhere in the world with ease
                and
                privacy."</p>

        </div>
    </div>
</div>
<!--Study Clash-->
<div class="parallax study_clash"></div>
<div class="project_wrapper">
    <div class="right">
        <img alt="study clash screenshot" class="project_preview"
             src="media/images/study_clash/home.png">
    </div>
    <div class="left">
        <p class="project_title">Security Research for Study Clash</p>
        <p class="project_date">August of 2016 - August of 2017</p>
        <p class="project_description">Study clash is &quot;a platform [that] converts study guides into
            multiple-choice trivia games&quot; allowing &quot;students [to] compete with their friends&quot; to make
            &quot;learning fun and more engaging&quot;. I was asked by the founders, Scott and Bryan
            Benson, to beta test the website and app. While beta testing, I found multiple
            vulnerabilities
            one of which allowed an attacker to change users username, email, and school without
            authentication. I quickly communicated these vulnerabilities to the founders and discussed
            possible solutions. The vulnerabilities were rectified within a couple days. This was one of
            my
            first experience with real world web security.</p>
        <p class="extra_content_title">Testimonials</p>
        <div class="testimonial_wrapper">
            <p class="person">Scott and Bryan Benson, Co-founders of Study Clash</p>
            <p class="quote">"Josh is very advanced for his age and went out of his way to help
                identify
                vulnerabilities in Study Clash. We were impressed by both his technical abilities
                and
                initiative. He has a bright future ahead of him!"</p>
        </div>
        <a href="https://www.studyclash.com" target="_blank">
            <button class="product_button">Full Site</button>
        </a>
    </div>
</div>
<!-- Stencyl -->
<div class="parallax stencyl"></div>
<div class="project_wrapper">
    <div class="right">
        <img alt="Zombie Wars Screenshot" class="project_preview"
             src="media/images/joshsapple/Zombie%20War.jpg">
    </div>
    <div class="left">
        <p class="project_title">Created Games Using <a target="_blank"
                                                        href="http://www.stencyl.com/features/whatsnew/">Stencyl</a>
        </p>
        <p class="project_date">Summer of 2013 - Summer 2014</p>
        <p class="project_description">During the summer of 2013, I was first exposed to &quot;
            programming&quot; at summer camp. After designing the characters from scratch in Photoshop,
            we used Stencyl, a drag and drop coding flash 2D game maker, to develop the games. At the
            end of 2013, at the age of 10, I completed my first game: Zombie War (playable below,
            although you need flash). The game was set in an apocalyptic city. The payer must fight off
            zombies while rationing ammo to survive. Each level increases in difficulty. Shortly after
            coming home for the summer, I developed a sequel to Zombie War: Zombie War II. This game had the same
            premise but with more weapons and much more
            difficult levels. Finally, the following year I created Running Fun, a obstacle course game.
            The player must climb ladders, jump, and run to avoid spikes, bats, and bullets. While
            Stencyl did not provide a real coding experience, it did provide me with the fundamentals of
            programming and logic (if statements, variables, loops, etc.). Click below to play! Note: It
            may take a bit to load and once they load, you must click on the game to get the controls to
            work. Arrow keys and space bar are used for the games. Good luck!</p>
        <button class="product_button game" data-url="media/swf/zombie_war_I.swf">Zombie War I</button>
        <button class="product_button game" data-url="media/swf/zombie_war_II.swf">Zombie War II
        </button>
        <button class="product_button game" data-url="media/swf/run_fun.swf">Running Fun</button>
    </div>
</div>
<div class="parallax more_soon fadeIn_5"><!--span class="text">And more to come...</span--></div>
<!-- Freelance work  WIP-->
<!--div class="project_wrapper">
    <div class="right">
        <img class="project_preview" src="">
    </div>
    <div class="left">
        <p class="project_title">Freelance Work</p>
        <p class="project_date"></p>
        <p class="project_description"></p>
        <button class="product_button_more">
            More
        </button>
        <div class="project_product_wrapper">
            <div class="expand_content">
                <p class="extra_content_title">Testimonials</p>
                <div class="testimonial_wrapper">
                    <p class="person">John Doe</p>
                    <p class="quote">"Lorem ipsum dolor sit amet"</p>
                    <p class="person">Jane Doe</p>
                    <p class="quote">"Duis at scelerisque lacus. Nunc dictum semper leo ut finibus. "</p>
                </div>
            </div>
        </div>
    </div>
</div-->
