@font-face {
    font-family: GoboldBold;
    src: url("/media/Gobold Bold.woff") format("woff");
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background: black;
    color: white;
    height: 100vh;
    overflow: hidden;
}

/* scrollbar adapted from --> https://codepen.io/devstreak/pen/dMYgeO */
*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.99);
}

*::-webkit-scrollbar {
    width: 8px;
    background-color: #000000;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(32, 32, 32, 1);
}


.main {
    display: none;
    opacity: 0;
    transition: opacity 2s;
    height: 100%;
    position: fixed;
    width: 100%;
}

.main[active] {
    display: flex;
    flex-direction: column;
    opacity: 1;
}


.content {
    flex-grow: 1;
    width: 100%;
    position: relative;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    overflow: auto;
}

.content_tab {
    display: none;
    opacity: 0;
    transition: opacity 500ms;
    position: absolute;
    height: 100%;
    width: 100%;
}

.content_tab[active] {
    display: block;
    opacity: 1;
}


a {
    text-decoration: none
}

img {
    image-orientation: from-image;
}



/* Animations */

.fadeIn_1, .fadeIn_2, .fadeIn_3, .fadeIn_5 {
    -webkit-animation: fade-in 500ms ease-in;
    animation: fade-in 500ms ease-in;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    opacity: 0;
}

.fadeIn_2 {
    -webkit-animation-delay: 500ms;
    animation-delay: 500ms;
}

.fadeIn_3 {
    -webkit-animation-delay: 1000ms;
    animation-delay: 1000ms;
}

.fadeIn_5 {
    -webkit-animation-delay: 2000ms;
    animation-delay: 2000ms;
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.slide_in_to_right {
    -webkit-animation: expand_right 1500ms;
    animation: expand_right 1500ms;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 700ms;
    animation-delay: 700ms;
}

@-webkit-keyframes expand_right {
    0% {
        clip-path: polygon(0 100%, 0 0, 0 0, 0 100%);
        -webkit-clip-path: polygon(0 100%, 0 0, 0 0, 0 100%);
    }
    100% {
        clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
        -webkit-clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
    }
}

@keyframes expand_right {
    0% {
        clip-path: polygon(0 100%, 0 0, 0 0, 0 100%);
        -webkit-clip-path: polygon(0 100%, 0 0, 0 0, 0 100%);
    }
    100% {
        clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
        -webkit-clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
    }
}

.slideUp {
    -webkit-animation: slideUp 1500ms;
    animation: slideUp 1500ms;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 700ms;
    animation-delay: 700ms;
}

@-webkit-keyframes slideUp {
    0% {
        clip-path: polygon(0 100%, 0 100%, 100% 100%, 100% 100%);
        -webkit-clip-path: polygon(0 100%, 0 100%, 100% 100%, 100% 100%)
    }
    100% {
        clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
        -webkit-clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
    }
}

@keyframes slideUp {
    0% {
        clip-path: polygon(0 100%, 0 100%, 100% 100%, 100% 100%);
        -webkit-clip-path: polygon(0 100%, 0 100%, 100% 100%, 100% 100%)
    }
    100% {
        clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
        -webkit-clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
    }
}

/* Typing effect credit -->  https://css-tricks.com/snippets/css/typewriter-effect/ */
/* The typing effect */
@-webkit-keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@-webkit-keyframes blink-caret {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: orange;
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: orange;
    }
}
