.load_text {
    text-align: center;
    font-family: GoboldBold, sans-serif;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9vw;
    animation: fadeOut ease-in-out 500ms;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

.load_text[hidden] {
    display: none;
}

.bar {
    display: block;
    position: relative;
    margin: 0 auto;
    height: 4px;
    background: white;
    animation: underline ease-in-out 2s;
    animation-fill-mode: forwards;
}

@keyframes underline {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media only screen and (max-width: 600px) {
    .load_text {
        font-size: 15vw;
    }
}
