.controls {
    background: rgba(0, 0, 0, 0.8);
    flex-basis: 80px;
    font-family: 'Hind', serif;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    user-select: none;
    -webkit-user-select: none;
}
.hamburger_button {
    display: none;
    width: 100%;
    text-align: center;
    font-size: 25px;
    line-height: 80px;
}

.nav_logo {
    transform: scale(0.5);
    float: left;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_logo img {
    height: 100%;
    width: 100%;
}
.read_controls {
    display: flex;
    margin-left: -10%;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.control_item {
    font-size: 15px;
    list-style-type: none;
    display: inline-block;
    line-height: 80px;
    height: 90px;
    padding: 0 5%;
    cursor: pointer;
    transition: color 200ms;
    color: #999999;
}

.control_item[active], .control_item:hover {
    color: #d8d8d8;
}

@media only screen and (max-width: 600px) {
    .hamburger_button {
        display: block;
    }

    .nav_logo {
        position: absolute;
        top: 0;
        right: 0;
        padding-right: 20px;
        padding-top: 10px;
        width: 100px;
    }

    .read_controls {
        display: block;
        background: rgba(0, 0, 0, 0.98);
        position: absolute;
        top: 80px;
        width: 100%;
        height: 0;
        overflow: hidden;
        z-index: 5;
        margin-left: 0;
        transition: height ease-in-out 500ms;
    }

    .read_controls[active] {
        height: 100vh;
    }

    .control_item {
        display: block;
        width: 100%;
        text-align: center;
        padding: 0;
    }
}
