.project_list {
    display: flex;
    flex-wrap: wrap;
}

.project_item {
    width: 33.33333%;
    height: 30vw;
    box-sizing: border-box;
    overflow: hidden;
    padding: 2px;
    position: relative;
    font-family: 'Roboto', sans-serif;
}

.bg-wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
    /*
    display: flex;
    justify-content: center;
    align-items: center;
    */
    box-sizing: border-box;
}

.project_item .bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.9;
}

.project_item .short_info {
    position: absolute;
    opacity: 0;
    transition: opacity 200ms;
    height: 100%;
    width: 100%;
    /* background: rgba(63, 53, 248, 0.9);*/
    background: rgba(0, 0, 0, 0.95);
    top: 0;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    transition-delay: 0ms;
    cursor: pointer;
}

.project_title {
    font-size: 40px;
    font-weight: 800;
    font-family: 'Roboto', sans-serif;
}

.project_item:hover .short_info {
    transition-delay: 50ms;
    opacity: 1;
}

.project_item a {
    color: inherit;
}

@media only screen and (max-width: 800px) {
    .project_item {
        width: 100%;
        height: 80vh;
    }
}

.resume-page {
    bottom: 0;
    background: #0d0d0d;
    position: fixed;
    height: 0;
    overflow: hidden;
    width: 100%;
    transition: height ease-in-out 400ms;
    transition-delay: 400ms;
}

.resume-page.active {
    height: 100%;
    transition-delay: 0ms;
}

.resume-page .x-button {
    height: 30px;
    width: 30px;
    display: block;
    font-size: 45px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    text-align: center;
    line-height: 30px;
    position: absolute;
    right: 30px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    top: 20px;
    z-index: 2;
}

.resume-page .loading {
    display: none;
    height: 60px;
    width: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid rgb(36, 36, 36);
    border-top-color: #3b3b3b;
    border-radius: 50px;
    animation: spin 1s ease-in-out infinite;
}

.resume-page.active .loading {
    display: inline-block;
}

.resume-content.loaded + .loading {
    display: none;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.resume-content {
    height: 0;
    overflow: hidden;
    width: 100%;
    transition: height ease-in-out 400ms;
    transition-delay: 0ms;
    box-sizing: border-box;
    padding: 20px;
}

.resume-page .resume-content.loaded {
    transition-delay: 400ms;
    height: 100%;
    overflow: auto;
}

.info {
    width: 50%;
}

.info .project_title {
    font-size: 30px;
    font-weight: normal;
}

.project_date {
    color: #999999;
    font-size: 22px;
}

.project_description {
    color: #999999;
    font-size: 18px;
}

.resume-content img {
    width: 35%;
    margin: 20px 0;
    display: inline-block;
}

.testimonial_title {
    font-size: 23px;
    font-weight: bold;
    text-decoration: underline;
}

.person {
    font-weight: bold;
    margin: 20px 0 0 0;
}

.person_title {
    font-weight: bold;
    font-style: italic;
}

.quote {
    font-style: italic;
    margin: 12px 0;
}

.person, .quote {
    display: block;
}

.product_button, .product_button_more {
    display: inline-block;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    color: white;
    background: none;
    margin-top: 15px;
}

.product_button, .product_button_more {
    background-color: rgba(29, 29, 29, 0.85);
    text-decoration: none;
}

.product_button:hover, .product_button_more:hover {
    background-color: rgb(0, 0, 0);
}

@media only screen and (max-width: 800px) {
    .info {
        width: 100%;
    }

    .project_title {
        text-align: center;
    }

    .project_date {
        display: block;
        text-align: center;
    }

    .project_description {
        text-align: justify;
    }
}

/*
.project_wrapper a.product_button {
    color: white;
}

.project_wrapper:last-child {
    border-bottom: none;
}

.project_wrapper .right {
    width: auto;
    margin-right: 20px;
}

.project_wrapper .left {
    width: 100%;
    margin: auto;
}

.project_preview {
    box-shadow: 0 31px 35px rgba(0, 0, 0, 0.6);
    width: 100px;
    height: auto;
    border-radius: 0.25rem;
    transition: transform 200ms ease-in-out;
    transform: scale(1);
}

.project_preview:hover {
    transform: scale(1.2);
}

.project_title {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.project_date {
    font-size: 15px;
    margin-top: 0;
}


.project_description {
    margin-top: 2%;
    font-size: 15px;
    text-align: justify;
}

.expand_content {
    display: none;
    overflow: auto;
    height: 250px;
}

.extra_content_title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}


*/
