<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <% include ../components/head.ejs %>
    <link rel="stylesheet" href="/admin/css/markdown_editor.css">
    <link rel="stylesheet" href="/admin/css/edit.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.0/showdown.min.js"></script>
    <title>Main Info Editor</title>
</head>
<body>
<% include ../components/sidebar.ejs %>
<div class="main">
    <form method="POST" action="save">
        <div class="section">
            <h2>About me - Top</h2>
            <div class="markdown_wrapper">
                <textarea name="top" class="markdown_input" placeholder="Markdown"><%= top %></textarea>
                <div class="markdown_viewer"></div>
            </div>
        </div>
        <div class="section">
            <h2>About me - Bottom</h2>
            <div class="markdown_wrapper">
                <textarea name="bottom" class="markdown_input" placeholder="Markdown"><%= bottom %></textarea>
                <div class="markdown_viewer"></div>
            </div>
        </div>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button class="btn submit_button" type="submit">Save</button>
    </form>
    <a href="/admin" class="back">← Back To Dashboard</a>
</div>
<script src="/admin/js/markdown_editor.js"></script>
</body>
</html>
