.nav_bar_wrapper a {
    color: inherit;
    text-decoration: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
html, body {
    margin: 0;
    background: #efefef;
    font-family: 'Roboto', sans-serif;
}

.nav_bar_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    font-weight: 500;
    color: #1f68b4;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
    background: #f6f6f6;
    height: 40px;
    position: relative;
    z-index: 99;
}

.nav_item, .nav_dropdown {
    height: 40px;
    line-height: 40px;
    font-size: 17px;
    width: 100%;
    text-align: center;
    position: relative;
    cursor: pointer;
}
.nav_dropdown > div {
    position: relative;
}
.nav_dropdown .nav_dropdown {
    left: 100%;
    top: 0;
    padding: 0;
}
.nav_item[active] {
    color: #194f8e;
    background: #e9e9e9;
}

.nav_item:hover.nav_dropdown div:hover {
    color: #194f8e;
    background: #e0e0e0;
}

.big_logo_top {
    width: 100%;
    display: flex;
    justify-content: center;
}

.big_logo_top img {
    max-width: 600px;
    width: 100%;
    height: auto;
}

.nav_dropdown {
    display: none;
    position: absolute;
    height: auto;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.6);
}

.nav_dropdown div {
    background: #f6f6f6;
    text-align: left;
    box-sizing: border-box;
    padding-left: 10px;
}

.nav_item:hover, .nav_dropdown div:hover {
    background: #e0e0e0;
}

.hamburger_button {
    width: 100%;
    display: none;
    text-align: center;
    font-size: 25px;
    line-height: 50px;
    background: #f6f6f6;
    color:  #1f68b4;
}
@media only screen and (min-width: 701px) {
    .nav_bar_wrapper div:hover > .nav_dropdown, .nav_bar_wrapper div:hover > .nav_dropdown:hover {
        display: block;
    }
    .nav_bar_wrapper {
        display: flex !important;
    }
}
@media only screen and (max-width: 700px) {
    .nav_dropdown {
        box-shadow: 0 50px 20px rgba(0, 0, 0, 0.1);
    }
    .hamburger_button {
        display: block;
    }
    .nav_bar_wrapper {
        display: none;
        height: auto;
    }
    .nav_dropdown {
        position: static;
    }
    .nav_item, .nav_dropdown {
        height: auto;
    }
}