.main_content_wrapper {
    padding: 30px;
    color: #17558f;
    background: white;
}

.main_content_wrapper p {
    font-size: 18px;
    text-align: justify;
}
.description_section {
    display: block;
    min-height: 200px;
}
.right_image {
    display: inline-block;
    height: 200px;
    float: right;
    margin-left: 30px;
}
a {
    color: inherit;
    text-decoration: underline;
}
.centered_text {
    text-align: center;
}
.standard_button {
    background: #17558f;
    font-size: 14px;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}