<div data-id="<%= post.id %>" class="project_item">
    <div class="bg-wrapper">
        <img class="bg" src="<%= post.background_url || "" %>">
    </div>
    <div class="short_info">
        <h2 class="project_title"><%= post.getTextTitle() %></h2>
    </div>
</div>
