<div class="sidebar_wrapper">
    <ul class="sidebar">
        <li class="title"><img alt="logo" class="logo" src="/media/images/thiswebsite/JB%20Logo%20Dark.svg"></li>
        <li><a href="/admin/main/edit">Main</a></li>
        <li><a href="/admin/posts">Posts</a></li>
        <li><a href="/admin/form/contact">Contact Form</a></li>
        <li><a href="/admin/manage">Manage</a></li>
        <li class="separator"></li>
        <li><a href="/admin/logout">Logout</a></li>
    </ul>
</div>
